/* Loader Container */
.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust the height to center the loader vertically */
  }
  
  /* Spinner */
  .spinner {
    border: 10px solid rgba(255, 255, 255, 0.3);
    border-top: 10px solid #ff0000; /* Change the color of the spinner */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  